  .heading
  {
    font-size: 40px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
   

  }
  .copy_right_footer {
    position: fixed;
    width:100%;
    bottom: 0;
    color: yellow;
    text-align: center;
  }

 
 